.footer-copyright {
	background: darken($dark, 8%);
	padding: rem(20px) 0;
	font-size: $font-size-sm;
	font-weight: 600;
	line-height: $line-height-lg;
	color: $gray-600;
	position: relative;
	z-index: $footer-copyright-zindex;
	
	@include clearfix();
	
	& a {
		color: $gray-600;
		@include transition(color .2s linear);
		
		&:hover,
		&:focus {
			color: $gray-400;
		}
	}
	& .social-media-list {
		list-style-type: none;
		margin: 0;
		padding: 0;
		text-align: right;
		font-size: $font-size-lg * 1.15;
		line-height: $line-height-lg * 0.65;
		
		& > li {
			display: inline-block;
			
			& a {
				color: $gray-600;
				@include transition(color .2s linear);
				
				&:hover,
				&:focus {
					color: $gray-400;
				}
			}
			& + li {
				margin-left: rem(15px);
			}
		}
	}
	
	@include media-breakpoint-down(sm) {
		text-align: center;
		
		& .social-media-list {
			text-align: center;
		}
	}
}