.item {
	background: $white;
	
	&.item-thumbnail {
		border: 1px solid $gray-300;
		
		@include border-radius($border-radius);
		@include media-breakpoint-down(md) {
			margin-bottom: rem(10px);
		}
		@include media-breakpoint-down(xs) {
			margin: 0 0 rem(15px);
			
			@include border-radius($border-radius-lg !important);
		}
		
		& a {
			text-decoration: none;
		}
		& .item-image {
			height: rem(130px);
			padding: rem(15px);
			line-height: rem(100px);
			text-align: center;
			position: relative;
			display: block;
			
			& img {
				max-width: 100%;
				max-height: 100%;
			}
			& .discount {
				position: absolute;
				bottom: 0;
				right: rem(15px);
				line-height: rem(20px);
				padding: rem(2px) rem(6px);
				color: $white;
				background: $dark;
				font-weight: 600;
				font-size: rem(12px);
				
				@include border-radius($border-radius);
			}
		}
		& .item-info {
			padding: rem(15px);
			text-align: center;
			
			& .item-title {
				margin: 0 0 rem(3px);
				max-height: rem(36px);
				overflow: hidden;
				line-height: rem(18px);
				font-size: rem(14px);
				color: $dark;
				
				& a {
					color: $dark;
					
					&:hover,
					&:focus {
						color: $dark;
						text-decoration: underline;
					}
				}
			}
			& .item-desc {
				margin: 0;
				font-size: rem(12px);
				color: lighten($black, 30%);
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
			& .item-price {
				margin: 0;
				font-size: rem(16px);
				color: $primary;
				font-weight: 600;
			}
			& .item-discount-price {
				font-size: rem(12px);
				text-decoration: line-through;
				color: lighten($black, 60%);
			}
		}
	}
}