.product-desc {
	padding: rem(20px);
	
	@include clearfix();
	@include media-breakpoint-down(lg) {
		padding: rem(15px);
	}
	
	& + .product-desc {
		margin-top: rem(20px);
		padding-top: rem(40px);
		border-top: 1px solid $gray-300;
		
		@include media-breakpoint-down(lg) {
			padding-top: rem(40px);
			margin-top: 0;
		}
	}
	& .image {
		float: left;
		width: 50%;
		padding-right: rem(40px);
		
		@include media-breakpoint-down(lg) {
			float: none;
			width: auto;
			padding: 0;
			text-align: center;
		}
		
		& img {
			max-width: 100%;
		}
	}
	& .desc {
		float: left;
		width: 50%;
		padding-left: rem(40px);
		
		@include media-breakpoint-down(lg) {
			float: none;
			width: auto;
			padding: 0;
			text-align: center;
		}
		
		
		& h4 {
			margin: 0 0 rem(15px);
			font-size: rem(36px);
			
			@include media-breakpoint-down(lg) {
				margin: rem(15px) 0;
				font-size: rem(24px);
			}
		}
		& p {
			font-size: rem(16px);
			font-weight: normal;
			color: lighten($dark, 15%);
			line-height: $line-height-lg;
			
			@include media-breakpoint-down(lg) {
				font-size: rem(14px);
				line-height: $line-height-base;
			}
		}
	}
	&.right {
		& .image {
			float: right;
			padding-left: rem(40px);
			padding-right: 0;	
			
			@include media-breakpoint-down(lg) {
				float: none;
				padding: 0;
			}
		}
		& .desc {
			float: left;
			text-align: right;
			padding-right: rem(40px);
			padding-left: 0;
			
			@include media-breakpoint-down(lg) {
				float: none;
				padding: 0;
				text-align: center;
			}
		}
	}
}