.search-toolbar {
	background: $white;
	border: 1px solid $gray-300;
	padding: rem(15px);
	margin-bottom: rem(15px);
	
	@include border-radius($border-radius-lg);
	@include clearfix();
	
	& h4 {
		font-size: rem(13px);
		margin: 0;
		line-height: rem(20px);
	}
	& .sort-list {
		list-style-type: none;
		margin: 0;
		padding: 0;
		font-size: rem(13px);
		line-height: rem(20px);
		
		@include media-breakpoint-down(md) {
			float: left;
			text-align: left;
			margin-top: rem(10px);
		}
		
		& > li {
			display: inline-block;
			
			@include media-breakpoint-down(md) {
				margin-right: rem(10px);
			}
			
			& + li {
				margin-left: rem(10px);
				
				@include media-breakpoint-down(md) {
					margin-left: 0;
				}
			}
			& a {
				color: lighten($black, 60%);
				
				&:hover,
				&:focus {
					color: lighten($black, 30%);
				}
			}
			&.text {
				font-weight: 600;
			}
			&.active {
				& a {
					color: $dark;
				}
			}
		}
	}
}