.summary-container {
	float: right;
	width: rem(360px);
	text-align: right;
	
	& .summary-row {
		display: table;
		width: 100%;
		
		& + .summary-row {
			margin-top: rem(5px);
		}
		& .field {
			display: table-cell;
			width: 40%;
    }
    & .value {
			display: table-cell;
    	width: 60%;
    }
    &.total {
    	border-top: 1px solid $gray-300;
    	margin-top: rem(10px);
    	font-size: rem(16px);
    	font-weight: 600;
    	margin-bottom: rem(-20px);
    	
    	& .field,
    	& .value {
    		padding-top: rem(10px);
    	}
    }
  }
}