@import 'functions';
@import 'variables';
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';
@import 'mixins';

a {
	color: $primary;

	&:hover,
	&:focus {
		color: darken($primary, 15%);
	}
}
.pace {
	& .pace-progress {
		background: $primary !important;
	}
	& .pace-activity {
		border-top-color: $primary !important;
		border-left-color: $primary !important;
	}
}
.header {
	& .navbar-brand {
		& .brand-logo {
			@if $primary-color == 'black' {
				border-color: lighten($primary, 40%) lighten($primary, 20%) $primary;
			} @else if $primary-color == 'dark' {
				border-color: lighten($primary, 20%) lighten($primary, 10%) $primary;
			} @else {
				border-color: $primary darken($primary, 10%) darken($primary, 20%);
			}
		}
	}
}
.text-primary {
	color: $primary !important;
}
.forum-list {
	& > li {
		& .media {
			& .fa {
				background: $primary;
			}
		}
		& .info-container {
			& .latest-post {
				& .title {
					& a {
						color: $dark;
					}
				}
			}
			& .latest-post,
			& .info-start-end {
				& a {
					color: $primary;
			
					&:hover,
					&:focus {
						color: darken($primary, 15%);
					}
				}
			}
		}
	}
}
.threads-list {
	& > li {
		& .title {
			& a,
			& a:hover,
			& a:focus {
				color: $dark;
			}
		}
		& a {
			color: $primary;
	
			&:hover,
			&:focus {
				color: darken($primary, 15%);
			}
		}
	}
}